<%- include("partials/header.ejs") %>

<%- include("partials/nav.ejs") %>
<div class="container">
<div class="inventoryTable">
    <h1>Ingredients</h1>
    <% if (ingredients && ingredients.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Delete</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% ingredients.forEach(function(ingredient) { %>
            <tr>
              <td><%= ingredient.name %></td>
              <td><%= ingredient.qty %></td>
              <td><%= ingredient.unit %></td>
              <td><a href="ingredients/delete?ingredientId=<%=ingredient.ingredientId%>" id = "deleteRef">Delete</a></td>
              <td><a href="ingredients/edit?ingredientId=<%=ingredient.ingredientId%>" id = "editRef">Edit</a></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <br>
      
    <% } else { %>
      <p>No ingredients available.</p>
    <% } %>
    <a href="/ingredients/add" id = "addRef">Add Ingredient</a><br><br>

    You currently have <%=ingredients.length%> different kinds of ingredients that you can work with!

  </div>
</div>

<style>
  #nIngredients {
      background-color: rgb(110, 145, 173);
      background-size:contain;
  }
</style>
<%- include("partials/footer.ejs") %>