<%- include("partials/header.ejs") %>

<%- include("partials/nav.ejs") %>
<div class="container">
<div class="inventoryTable">
    <h2>Ingredients</h2>
    <% if (ingredients && ingredients.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit</th>
          </tr>
        </thead>
        <tbody>
          <% ingredients.forEach(function(ingredient) { %>
            <tr>
              <td><%= ingredient.name %></td>
              <td><%= ingredient.quantity %></td>
              <td><%= ingredient.unit %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <a href="/ingredients/add" >Add Ingredient</a>
    <% } else { %>
      <p>No ingredients available.</p>
    <% } %>
  </div>
</div>
<%- include("partials/footer.ejs") %>