<%- include("partials/header.ejs") %>

<%- include("partials/nav.ejs") %>

<div class="search-container">
  <form id="searchForm">
    <label for="ingredient">Search Recipes by Ingredient:</label>
    <input type="text" id="ingredient" name="ingredient" placeholder="Enter ingredient name" required>
    <button type="submit" id="searchButton" class="btn btn-primary">Search</button>
  </form>
</div>

  <!-- Dropdown for selecting ingredients -->
  <form id="dropdownSearchForm" class="mt-3 text-center">
    <label for="ingredientDropdown">or, select Ingredient from your Ingredients:</label>
    <select id="ingredientDropdown" class="form-select d-inline-block w-auto mx-auto" name="ingredient">
      <option value="" disabled selected>Select an ingredient</option>
      <% ingredients.forEach(ingredient => { %>
        <option value="<%= ingredient.name %>"><%= ingredient.name %></option>
        <% }) %>
    </select>
    <button type="submit" id="dropdownSearchButton" class="btn btn-primary mt-2">Search</button>
  </form>
</div>

<div class="recipes-container mt-4 px-5" id="recipesContainer">
  <!-- Search results inserted here -->
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="recipeModal" tabindex="-1" aria-labelledby="recipeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="recipeModalLabel">Recipe Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalRecipeDetails">
        <!-- Recipe details will be inserted here -->
        <p>Loading...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="saveFavoriteButton">Save as Favorite</button>
      </div>
    </div>
  </div>
</div>



<%- include("partials/footer.ejs") %>

<style>
  #nRecipes {
      background-color: rgb(110, 145, 173);
      background-size:contain;
  }
</style>

<script src="/js/recipes.js"></script>